.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-2 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: poppins, sans-serif;
  background-color: #282c34;
}

#app {
  text-align: center;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#app > h1 > span {
  color: lightblue;
  margin-left: 5px;
}

.song-pict {
  width: 50px;
  border-radius: 50%;
}

.container-song {
  display: flex;
  margin: auto auto 15px auto;
  padding: 10px 20px 5px 20px;
  box-shadow: 0px 0px 2px 0px grey;
  border-radius: 10px;
  background-color: #616670;
  justify-content: space-between;
}

.song-detail {
  display: inline-block;
  margin: 0px 10px 0px 10px;
}

.song-detail > h2 {
  font-size: 13px;
  color:whitesmoke;
  font-weight: 500;
}

.song-detail > p {
  font-size: 12px;
  color:whitesmoke;
  font-weight: normal;
}

.container-items {
  margin: 30px auto auto auto;
  width: 50%;
  text-align: left;
}

.btn-container {
  margin-top: 10px;
}

.btn-add {
  border: none;
  font-size: 11px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  background-color: lightgreen;
}

.btn-add:hover {
  border: none;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  background-color: forestgreen;
}

.track-img {
  width: 110px;
  margin-left: 40px;
  margin-right: 20px;
  border-radius: 8px;
}

.input {
  width: 80%;
  padding: 10px;
}

.search-input {
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px;
  width: 40%;
  color: black;
}

.no-track {
  width: 15%;
  color: white;
}

.search-input::placeholder {
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 40%;
  color: grey;
  opacity: 0.6;
}

.search-input:focus {
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px;
  width: 40%;
  color: black;
}

.fa-solid {
  color: black;
}

span {
  color: rgb(105, 206, 240);
  margin-left: 8px;
}

.search-button {
  background-color: rgb(105, 206, 240);
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 9px 16px 10px 15px;
  color: white;
  font-size: 12.2px;
  cursor: pointer;
}

.search-button:hover {
  background-color: cornflowerblue;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 9px 16px 10px 15px;
  color: white;
  font-size: 12.2px;
  cursor: pointer;
}

login-page {
  background-color: #1f1f1f;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.logo {
  width: 30%;
}

.login-btn {
  width: 150px;
  padding: 10px 0px;
  font-size: 16px;
  text-align: center;
  background-color: #fefefe;
  border-radius: 50px;
  cursor: pointer;
  color: #1f1f1f;
  font-weight: 600;
  margin: 30px auto;
}

.logout-btn {
  width: 150px;
  padding: 10px 0px;
  font-size: 16px;
  text-align: center;
  background-color: #fefefe;
  border-radius: 50px;
  cursor: pointer;
  color: #1f1f1f;
  font-weight: 600;
  margin: 30px 50px auto auto;
}

.logout-btn:hover {
  width: 150px;
  padding: 10px 0px;
  font-size: 16px;
  text-align: center;
  background-color: lightgreen;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  margin: 30px 50px auto auto;
}

.profile-btn {
  width: 150px;
  padding: 10px 0px;
  font-size: 16px;
  text-align: center;
  background-color: #fefefe;
  border-radius: 50px;
  cursor: pointer;
  color: #1f1f1f;
  font-weight: 600;
  margin: 30px auto auto 50px;
}

.profile-btn:hover {
  width: 150px;
  padding: 10px 0px;
  font-size: 16px;
  text-align: center;
  background-color: lightgreen;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  margin: 30px auto auto 50px;
}

.login-btn:hover {
  width: 150px;
  padding: 10px 0px;
  font-size: 16px;
  text-align: center;
  background-color: lightgreen;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  margin: 30px auto;
}

.container-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
}

.input, textarea {
  width: 80%;
  padding: 5px;
  border-radius: 8px;
}

.input-title {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  align-items: center;
}

.btn-playlist {
  width: 80%;
  padding: 5px;
  border-radius: 8px;
  border: none;
  color: #1f1f1f;
  font-weight: 600;
  cursor: pointer;
  justify-content: center;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  width: 80%;
}

.btn-play {
  width: 60%;
  padding: 5px;
  border-radius: 8px;
  border: none;
  color: #1f1f1f;
  font-weight: 600;
  cursor: pointer;
  justify-content: center;
}

.grid-playlist {
  width: 50%;
  text-align: center;
}

.h2-playlist {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 10px;
  width: 60%;
  margin: 50px auto 20px auto;
}

.center-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.card-song {
  display: flex;
  justify-content: space-around;
  border: solid 1px #616670;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
}

.content-song {
  font-size: 14px;
  text-align: center;
  margin-right: 25px;
}

.album {
  width: 12em;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
  margin:auto;
}

.track-name {
  width: 12em;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
  text-align: center;
}
